.maincontainer {
  display: flex;
  flex-direction: column;
}

.itemcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 0.625rem;

  width: 18.5rem;
  height: 2.625rem;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
  padding-bottom: 1rem;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 0.625rem;

  width: 10.625rem;
  height: 2.625rem;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.picture {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 68px;
  overflow: hidden; /* 이미지가 border-radius 안에 꽉 차도록 */
}

.picture img {
  width: 100%; /* 부모 요소인 .picture에 맞게 이미지 크기 조정 */
  height: auto; /* 이미지 비율 유지 */
  display: block; /* inline 요소를 block 요소로 변경 */
}

.number {
  font-style: normal;
  font-weight: 550;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  /* identical to box height, or 147% */

  letter-spacing: -0.1px;

  /* Gray/700 */

  color: #272d37;
}

.time {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* identical to box height, or 143% */

  letter-spacing: -0.1px;

  /* Gray/50 */

  color: #5f6d7e;
}

.printing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  gap: 4px;

  width: 4.3rem;
  height: 1.375rem;

  /* Success/50 */

  background: #f0faf0;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    /* identical to box height, or 138% */

    letter-spacing: -0.1px;

    /* Success/700 */

    color: #2d8a39;
  }
}

.reprinting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  gap: 4px;

  width: 4.3rem;
  height: 1.375rem;

  /* Success/50 */

  background: #f5faff;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    /* identical to box height, or 138% */

    letter-spacing: -0.1px;

    /* Success/700 */

    color: #3e67e3;
  }
}

.printreject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  gap: 4px;

  width: 4.3rem;
  height: 1.375rem;

  /* Success/50 */

  background: #dae0e6;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    /* identical to box height, or 138% */

    letter-spacing: -0.1px;

    /* Success/700 */

    color: #707070;
  }
}
